*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 110%;
  font-weight: bolder;
  background-color: #ffffff;
  z-index: 2000;
}

.menu{
    display: none;
}

.prop {
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2%;
    font-size: 120%;
}

.prop img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

nav{
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 25px;
    padding: 5px;
}
  
  .nav-link {
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease-in-out;
  }
  
  .nav-link.active {
    border-bottom-color: orange;
  }


.topLeft{
    width: 80%;
    height: 10vh;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tl{
    width: 15%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
}

.f2,.f3{
    width: 15%;
    height: 25vh;
    z-index: 900;
    position: absolute;
    top: 20vh;
    left: 100px;
    border-radius: 0px;
    
}

.f2{
    background-color: rgb(255, 255, 255);
    rotate: 20deg;
    z-index: 901;
}
.f3{
    background-color: rgba(255, 255, 255, 0.656);
    rotate: -15deg;
    z-index: 902;

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 130%;
   font-weight: bold;
}

.f3 img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
  
}
.f3 p{
   
}

#main{
    max-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 11vh;
}

.main0{
    width: 100%;
    height: 60vh;
    background-color: rgb(235, 235, 235);
}

.main1{
    width: 80%;
    height: 85vh ;
    border-radius: 20px;
    background-image: url(pexels-pixabay-259588.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin-top: 5%;
}

.main2{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 15vh;
    border-radius: 60px;
    box-shadow: 2px 2px 2px 2px grey;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.main2 div{
     height: 5vh;
     border-radius: 40px;
     box-shadow: 1px 1px 1px 1px rgb(69, 69, 69);
}

.m1,.m2,.m3{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.m1 img{
    width: 20px;
    height: 20px;
}
.m1 div{
    width: 20%;
    height: 2.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.5%;
    font-size: 60%;
    box-shadow: 0px 0px 0px 0px white;
}
.m2{
    width: 25%;
}

.m2 img{
    width: 20px;
    height: 20px;
}
#p2,#p3{
    margin-left: 20%;
    width: 15px;
    height: 15px;
}

.m3{
    width: 20%;
}

.m3 img{
    width: 20px;
    height: 20px;
}

#c{
    position: absolute;
    position: fixed;
    right: 0px;
    top: 40vh;
    width: 40px;
    height: 30vh;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}
#c img{
    width: 20px;
    height: 20px;
}

#s2{
    max-width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

#s2 img{
    max-width: 25rem;
    height:auto;
    border-radius: 10px;
}

.s2a{
    width: 60%;
    height: 70vh ;
    background-color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
}

#s2 div h1{
    margin: 10%;
    font-size: 2rem;
}

.loc{
    width: 30%;
    height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
   background-color: aqua;
   margin-left: 60%;
}
.loc img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


#s3{
    max-width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   padding: 3%;
}
#s3 div{
    padding-left: 3%;
    padding-right: 5%;
}

#ss1{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
}
#ss1 h1{
    color: orangered;
}

#ss1 img,#ss2 img, #ss3 img,#ss4 img{
    width: 70px;
    height: 70px;
    margin-top: 4%;
}
#ss1 h1,#ss2 h1,#ss3 h1,#ss4 h1{
    margin-bottom: 4%;
    margin-top: 4%;
}
#ss2{
    background-color: rgb(241, 241, 241);
}
#ss3{
    background-color: rgb(238, 238, 238);
}
#ss3 ul{
    list-style-type: circle !important;
}
#ss3 ul li{
    margin: 10px;
}
#ss4{
    background-color: rgb(255, 255, 255);
}

.mode{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode div{
    width: 20%;
    height: 4vh;
    box-shadow: 2px 2px 2px 2px rgb(29, 29, 29);
    background-image: linear-gradient(to bottom left,white,grey);
    margin: 10px;
    border-radius:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

footer{
    max-width: 100%;
    height: 10vh;
    background-color: rgb(17, 30, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


@media screen and (max-width:1024px){
    .f2,.f3{
        width: 15%;
        height: 17vh;
    }
    .main2{
        height: 13vh;
    }
    .loc{
        width: 40%;
    }
}

@media screen and (max-width:768px){

    header{
      height: 10vh;
        background-color: #eeeeee;
    }

    .topLeft{
        display: none;
    }

    .prop{
        width: 50%;
    }

    .menu{
        display: block;
        margin-right: 4%;
    }
    .menu img{
        width: 35px;
        height: 33px;
    }
    #main{
        height: 68vh;
    }
    .f2,.f3{
        width: 22%;
        height: 20vh;
    }
    .main1{
        width: 80%;
        height: 55vh ;
    }
    .main2{
        flex-direction: column;
        height: 30vh;
    }
    .m1,.m2,.m3{
        width: 70%;
    }
    .s2a{
        height: fit-content;
    }
    #s2{
        height: fit-content;
        padding-top: 0%;
    }
    #ap{
        width: 25rem;
    }
    .loc{
        width: 55%;
        height: 7vh ;
        margin-left: 5%;
    }

}

@media screen and (max-width:490px){
    .menu{
        margin-right: 6%;
    }
    .menu img{
        width: 28px;
        height: 28px;
    }
    .prop{
        font-size: 110%;
    }
    .prop img{
        width: 33px;
        height: 33px;
    }

    .f2,.f3{
        width: 40%;
        height: 17vh;
        left: 5px;
    }
    
   #main{
    height: 80vh;
   }
    .main1{
        height: 50vh;
    }
    .main2{
        width: 90%;
        height: 26vh;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px transparent;
        margin-top: 9%;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .m1,.m2,.m3{
        height: 1.8vh;
        width: 90%;
        margin: 3%;
    }
    .m2{
        width: 80%;
    }
    .m3{
        width: 70%;
    }
    #s2{
        flex-direction: column-reverse;
        padding: 1%;
    }
    .s2a{
        width: 100%;
        padding-left: 1%;
        margin-top: 0%;
    }
    .s2a p{
        padding-left: 8%;
        padding-right: 8%;
    }
    #ap{
        width: 18rem;
    }
    .loc{
        margin-bottom: 4%;
        height: 6vh;
    }
    #s3{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr;
       height: fit-content;
       overflow: hidden;
       gap: 0%;
       margin-bottom: 0%;
    }
    #ss1,#ss2,#ss3,#ss4{
        padding: 10%;
        height: fit-content;
        overflow: hidden;
        margin: 0%;
    }

#ss3{
    position: relative;
    top: -5%;
    height: fit-content;
}

    #ss4{
        position: relative;
        top: -25%;
    }

    #c{
        display: none;
    }
    
}